@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  font-family: "Inter";
  margin: 0;
  background-color: black;
  color: white;
}

.header {
  position: relative;
}

.flex-item {
  width: 100%;
  height: auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 6rem;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: auto;
}

.centered {
  text-align: center;
}

h1 {
  font-size: 6rem;
}

.main-content {
  margin: 6rem;
}

.container {
  display: flex;
  align-items: center;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  padding: 75px;
  max-width: 50ch;
  font-size: 1.6rem;
}

.left img {
  width: 100%;
  display: block;
  margin-bottom: 100px;
}

.video-container {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  width: 100%;
  margin-top: 10rem;
}

.left,
.right {
  box-sizing: border-box;
}

.right img {
  width: 40rem;
  height: auto;
  display: block;
  margin-bottom: 100px;
}
h2 {
  padding: 2rem;
  font-size: 1.6rem;
}

p {
  padding: 2rem;
  max-width: 60ch;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

ul {
  font-size: 1.2rem;
  line-height: 2rem;
}

h3 {
  max-width: 60ch;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
