---
import "../src/styles/stylesheet.css" 
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="stylesheet.css" />
  </head>
  <body>
    <header class="flex-container">
      <img src="./src/images/img/bBNycorw.jpeg" alt="top-img" class="flex-item" />

      <div class="centered">
        <h1>What is Copenhagen Light Festival?</h1>
      </div>
    </header>
    <section class="main-content">
      <div class="container">
        <div class="left">
          <img src="./src/images/img/bkU_ZU2w.jpeg" alt="Image 1" />
          <img src="./src/images/img/WBV2mmZw.jpeg" alt="Image 2" />
        </div>
        <div class="right">
          <h3>
            Copenhagen Light Festival is an annual event that transforms the
            quiet and cold winter darkness into a unique celebration of light
            art, lighting design, and illumination in the center of Copenhagen.
            <br />
            <br />
            In three weeks of February, the festival presents a wide range of
            light-based works such as sculpture, installation, projection
            mapping, event, and illumination created by both established and
            upcoming light artists, lighting designers, students, and
            organizations. The majority of the light works are placed along a
            path in the inner city and the harbor, while a selection of art
            works can be experienced in areas located outside of the city
            center. <br />
            <br />
            The Festival invites both international and local audiences of all
            ages to enjoy the city during the darkest and even the coldest time
            of the year.
          </h3>
        </div>
      </div>
      <div class="video-container">
        <iframe
          width="420"
          height="315"
          src="https://youtu.be/lG14qTHDKG0?si=QE37Jy7sw9vI5Nvj"
          allowfullscreen
        ></iframe>
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/watch?v=37wnUtY7Hmk"
          allowfullscreen
        ></iframe>
      </div>
      <div class="column">
        <div class="left">
          <h2>What can you experience?</h2>
          <p>
            The festival exhibits temporary light works and experiences while at
            the same time paying tribute to the permanent works in Copenhagen.
          </p>
        </div>
        <div class="right">
          <img src="./src/images/img/aCREdPxQ.jpeg" alt="lilla lys" />
        </div>
      </div>
      <div class="column">
        <div class="list">
          <h2>The festival program contains:</h2>
          <ul>
            <li>Beautiful, captivating temporary sculptural elements</li>
            <li>
              Staging of urban spaces, historic buildings, and cultural sites
            </li>
            <li>Artistic lighting experiences</li>
            <li>Multi-sensory experiences with light as a main element</li>
            <li>
              Dynamic light experiences such as film, moving heads, time pixel
              mapping
            </li>
            <li>
              Listed activities such as light walks, city cycling, or
              night-running with lights
            </li>
            <li>
              Interactive light experiences where the audience can physically
              control the experience
            </li>
            <li>
              The city's existing light experiences are included and highlighted
            </li>
            <li>Light-based events</li>
          </ul>
          <p>
            Sustainability, Green Mobility, Equality, and Diversity are
            important elements in creative/artistic interaction with the strong
            Danish traditions and competencies in light (and darkness).
          </p>
        </div>
        <div class="right">
          <img src="./src/images/img/9vff8h1w.jpeg" alt="lys i loftet" />
        </div>
      </div>
    </section>
  </body>
</html>