---
import "../styles/styles.css" 

import Navigation from "../components/Navigation.astro"; 

import WhyYou from "../components/WhyYou.astro"; 

import Nominees from "../components/Nominees.astro"; 

import Fonde from "../components/Fonde.astro"; 

import Partnere from "../components/Partnere.astro"; 

import Header from "../components/Header.astro"; 
---

<html lang="en"> 

<head> 

<meta charset="utf-8" /> 

<link rel="icon" type="image/svg+xml" href="/favicon.svg" /> 

<meta name="viewport" content="width=device-width" /> 

<meta name="generator" content={Astro.generator} /> 

<title>Astro</title> 

</head> 

<body> 

<Navigation /> 

<Header /> 

<WhyYou /> 

<Nominees /> 

<Fonde /> 

<Partnere /> 

</body> 

</html> 