---

import Installationer from "../components/Installationer.astro";
import "../../styles/program-style.css";
const data = await fetch(
    "https://lyshgsmyhkhvnenhvefb.supabase.co/rest/v1/CPHLF?order=nr.asc",
    {
        method : "GET", 
        headers: {
            apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx5c2hnc215aGtodm5lbmh2ZWZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTMzNjIsImV4cCI6MjAxMjA2OTM2Mn0.Aczj1UCZ1xo2WbBs9kEOyXmLPlKFdAw3Q11-9a99WSg" 
        },
    }
).then(res => res.json());


---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Program</title>
	</head>
	<body>
		<main>
                <h1 class="program-h1">CLF Program 2024</h1>
                <!-- <section class="installationer">
                    {data.map(installation=>{return <Installationer data={installation} />})}
                </section> -->

                <section class="søgefelt-container"><input type="text" class="søgefelt" id="searchInput" placeholder="Søg efter udstilling, artist, nummer eller lokation"></section>

                <section class="installationer">
                    <ul class="installations-list" id="installationsList">
                        {data.map(installation=>{return <Installationer data={installation} />})}
                    </ul>
                </section>

        </main>
	</body>
    <script>
// Get input element & installations list
const searchInput = document.getElementById('searchInput');
const installationsList = document.getElementById('installationsList');

// Event listener
searchInput.addEventListener('input', function () {
    const searchText = searchInput.value.toLowerCase();
    const listItems = installationsList.querySelectorAll('.installations-list-item');

    listItems.forEach(function (item) {
        const name = item.querySelector('.installations-navn').textContent.toLowerCase();
        const artist = item.querySelector('.installations-artist').textContent.toLowerCase();
        const location = item.querySelector('.installations-lokation').textContent.toLowerCase();
        const number = item.querySelector('.installations-nr').textContent.toLowerCase();

        if (
            name.includes(searchText) ||
            artist.includes(searchText) ||
            location.includes(searchText) ||
            number.includes(searchText)
        ) {
            item.style.display = '';
        } else {
            item.style.display = 'none';
        }
    });
});

window.addEventListener('load', function() {
    const searchInput = document.getElementById('searchInput');
    searchInput.value = ''; // Clear the input field
});

    </script>
</html>