--- 

import "../Styles/styles.css" 

--- 

 

<style> 

img{ 

border-radius: 45px; 

display: block; 

margin-left: auto; 

margin-right: auto; 

padding: 10px; 

} 

</style> 

<h2>See the nominees</h2> 

<div class="text"> 

<h3>Copenhagen Light Festival has been nominated for the City's Best Experience 2023.</h3> 

<p>We are extremely grateful and proud of the nomination. Hope you to get more people to help make light in the darkness of February 2024.</p> 

</div> 

<img src="./src/images/JPG/image 10.jpg" alt=""> 

<img src="./src/images/JPG/image 10 (1).jpg" alt=""> 

<img src="./src/images/JPG/image 10 (2).jpg" alt=""> 

<img src="./src/images/JPG/image 10 (3).jpg" alt=""> 

<img src="./src/images/JPG/image 10 (4).jpg" alt=""> 