--- 

import "../Styles/styles.css" 

--- 

<style> 

h3{ 

color: white; 

} 

.partnere{ 

display: grid; 

} 

.partnere-img{ 

} 

</style> 

<h2>Partnere</h2> 

<div class="partnere"> 

<img class="partnere-img" src="JPG/image 15.jpg" alt=""> 

<img src="JPG/image 14.jpg" alt=""> 

<h3>Overretssagfører L. Zeuthens mindelegat</h3> 

<img src="JPG/image 12.jpg" alt=""> 

<img src="JPG/image 13.jpg" alt=""> 

</div> 


