---
import "../Styles/styles.css"
---

<style>
  img {
    border-radius: 45px;

    display: block;

    margin-left: auto;

    margin-right: auto;

    padding: 10px;
  }
</style>

<h2>why YOU, should be a part off 2024</h2>

<img src="JPG/image 37.jpg" alt="" />

<img src="JPG/image 37 (1).jpg" alt="" />

<img src="JPG/image 37 (2).jpg" alt="" />

<img src="JPG/image 37 (3).jpg" alt="" />

<img src="JPG/image 37 (4).jpg" alt="" />
